---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-tls
  namespace: telemetry
data:
  tls.crt: {{ b64enc (readFile "./certs/alertmanager.dev/cert.pem") }}
  tls.key: {{ b64enc (readFile "./certs/alertmanager.dev/key.pem") }}
type: kubernetes.io/tls
