---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-tls
  namespace: telemetry # See the ../prometheus namespace
data:
  tls.crt: {{ b64enc (readFile "./certs/grafana.dev/cert.pem") }}
  tls.key: {{ b64enc (readFile "./certs/grafana.dev/key.pem") }}
type: kubernetes.io/tls
