---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-tls
  namespace: telemetry
data:
  tls.crt: {{ b64enc (readFile "./certs/prometheus.dev/cert.pem") }}
  tls.key: {{ b64enc (readFile "./certs/prometheus.dev/key.pem") }}
type: kubernetes.io/tls
