---
apiVersion: v1
kind: Secret
metadata:
  name: mailhog-tls
  namespace: default
data:
# Manually ran base64 -i ./certs/mailhog.minikube/cert.pem and pasted result into tls.crt
# Manually ran base64 -i ./certs/mailhog.minikube/key.pem and pasted result into tls.key
  tls.crt: {{ b64enc (readFile "./certs/mailhog.dev/cert.pem") }}
  tls.key: {{ b64enc (readFile "./certs/mailhog.dev/key.pem") }}
type: kubernetes.io/tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    svc.name: mailhog
  name: mailhog
  namespace: "default"
spec:
  tls:
  - hosts:
    - mailhog.dev
    secretName: mailhog-tls
  rules:
  - host: mailhog.dev
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: mailhog
            port: 
              number: 8025
