---
apiVersion: v1
kind: Secret
metadata:
  name: dash-ingress-tls
  namespace: kube-dashboard
data:
  tls.crt: {{ b64enc (readFile "./certs/kubedash.dev/cert.pem") }}
  tls.key: {{ b64enc (readFile "./certs/kubedash.dev/key.pem") }}
type: kubernetes.io/tls
